#{extends 'main.html' /}
#{set title:'Advanced Search' /}
		
<div class="container" id="advanced_search">
	<div class="row">
		<div class="span12">
			#{ifErrors}
				<div class='errors'>
        			#{errors}
       					<li>${error}</li>
   					#{/errors}
   				</div>
   				<br><br>
    		#{/ifErrors}
		</div>
		<div class="span6 search-forms">
			<div class="group form-group">
				#{form @SearchController.searchByTitles()}
					<h3>Search by titles</h3>
					<label>Title: &nbsp;</label>
					<input type="text" name="titles" /> &nbsp;
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
					
				#{/form}
			</div>
			<div class="group form-group">
				#{form @SearchController.searchByTags()}
					<h3>Search by keywords</h3>
					<label>Keyword: &nbsp;</label>
					<input type="text" name="tags" /> &nbsp;
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
					
				#{/form}
			</div>
		</div>
		<div class="span6 search-forms">
			<div class="group form-group">
				#{form @SearchController.searchByAuthors()}
					<h3>Search by authors</h3>
					<label>Author: &nbsp;</label>
					<input type="text" name="names" /> &nbsp;
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
				#{/form}
			</div>
			<div class="group form-group">
				#{form @SearchController.searchByDate()}
					<h3>Search by date</h3>				
					<label style="width: auto">From: &nbsp;</label>
					#{if date}
						<input style="width: 93px" class="datePicker1" type="text" name="from" data-date-format="mm/dd/yy" value="${date}" /> &nbsp;
						<label style="width:auto">To: &nbsp;</label>
						<input style="width: 93px" class="datePicker2" type="text" name="to" data-date-format="mm/dd/yy" value="${date}" /> &nbsp;
						#{/if}
					#{else}
						<input style="width: 93px" class="datePicker1" type="text" name="from" data-date-format="mm/dd/yy" value="06/04/2012" /> &nbsp;
						<label style="width:auto">To: &nbsp;</label>
						<input style="width: 93px" class="datePicker2" type="text" name="to" data-date-format="mm/dd/yy" value="06/05/2012" /> &nbsp;	
					#{/else}
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
				#{/form}
			</div>
		</div>
	</div>
</div>
