#{extends 'main.html' /}
#{set title:'Reviews panel' /}

<div class="container">
	<div class="row">	
		<h2>Selected articles for review</h2>
		<br />
		<p>To select articles for review, go to our <a href="@{PublishedController.unpublishedShow()}" class="btn btn-primary"><i class="icon-th-list icon-white"></i> Unpublished List</a> and pick up to three articles.</p>
		<div class="alert alert-info">
			<strong><i class="icon-info-sign"></i> Once you download a PDF you are committed to reviewing it. All articles are confidential, please do not disclose any information about it before it is published.</strong>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Article Title</th>
					<th>Selection Status</th>
					<th>Actions</th>
					<th>Download link</th>
				</tr>
			</thead>
			<tbody>
				#{list items:selectedArticles, as:'selection'}
					<tr>
						<td><a href="@{ArticleController.show(selection.article.id)}">${selection.article.title}</a></td>
						<td>${selection.getReadableStatus()}</td>
						<td class="actions">
							#{if selection.status == 0}
								&nbsp;
								<a href="@{ReviewController.add(selection.article.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Start Review</a> 
								&nbsp;
								<i>- or -</i> 
								&nbsp;
								<a href="@{ReviewController.removeSelected(selection.id)}" class="btn"><i class="icon-trash"></i> Remove selection</a>
							#{/if}	
							#{if selection.status == 1}
								&nbsp;
								<a href="@{ReviewController.add(selection.article.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Start Review</a> 
								&nbsp;
								<i>You are committed to this review.</i>
							#{/if}
							#{if selection.status == 2}
								&nbsp;
								<i>An editor will review your contribution shortly.</i>
							#{/if}
							#{if selection.status == -1}
								&nbsp; <a href="@{PublishedController.unpublishedShow()}" class="btn"><i class="icon-th-list"></i> Select another article</a>
							#{/if}
						</td>
						<td style="width:180px" class="options">
							#{if selection.status != -1}
								#{if selection.status == 0}
									<form><label class="checkbox"><input type="checkbox" name="select" /> &nbsp;I'm committed to article</label></form>
								#{/if}
								<a href="@{ArticleController.download(selection.article.id, -1)}" class="btn btn-primary #{if selection.status == 0} disabled #{/if}"><i class="icon-download icon-white"></i> &nbsp;Download</a>
							#{/if}
						</td>
					</tr>
				#{/list}
			</tbody>
		</table>

		<br />
		<h2>Your Reviews</h2>
		<br />
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Article Title</th>
					<th>Review Status</th>
					<th>Review options</th>
				</tr>
			</thead>
			<tbody>
				#{list items:reviews, as:'review'}
					<tr>
						<td><a href="@{ArticleController.show(review.revision.article.id)}">${review.revision.article.title}</a></td>
						<td>
							#{if review.rejectedByEditor}
								Your review was rejected by and editor. <a href="@{ReviewController.add(review.revision.article.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Review article again.</a>
							#{/if}
							#{else}
								Your review was submitted.
							#{/else}
						</td>
						<td style="width:370px">
							&nbsp;
							<a href="@{ReviewController.show(review.id)}" class="btn"><i class="icon-file"></i> View review</a>
							&nbsp;
							#{if review.isEditable()}
								<a href="#" class="btn"><i class="icon-edit"></i> Edit review</a>
							#{/if}
							#{else}
								<a href="#" class="btn disabled"><i class="icon-edit"></i> Review too old, cannot edit</a>
							#{/else}
							
							#{list items:review.revision.article.getRevisions(), as:'revision'}
								&nbsp; <a href="@{RevisionController.show(revision.id)}" class="btn" style="margin-top:3px"><i class="icon-file"></i> View revision ${revision.revision_number}</a>
							#{/list}
						</td>
					</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>