#{extends 'main.html' /}
#{set title:'Review' /}

<div class="container">
	<div class="row">
	
		<div class="span7">
		#{list items:reviews, as:'review'}
		<div class="group">
			<h2>${review.revision.article.title} Review ${review_index}</h2>
			<br />
			%{ 
				reviewScore = models.Review.scoreToHuman(review.score); 
				expertise = models.Review.expertiseToHuman(review.authorExpertiseLevel);
			%}
			<div class="well">
				<p><strong>Score: </strong>${reviewScore}</p>
				<p><strong>Author Expertise Level: </strong>${expertise}</p>
				<p><strong>Summary: </strong> ${review.summary}</p>
				<p><strong>Small errors: </strong>${review.smallErrors}</p>
			</div>
			
			<div id="review-comments">
				#{if review.reviewComments.size() > 0}
					<h2>Criticism</h2>
					<br />
					#{list items:review.reviewComments, as:'comment'}
						<p class="comment alert alert-wraning"><span class="badge badge-warning">${comment_index}</span>  ${comment.comment}</p>						
					#{/list}
				#{/if}
				#{else}
					<div class="alert alert-info">
						<strong><i class="icon-info-sign"></i> Phew! No Criticism!</strong>
					</div>
				#{/else}
			</div>
		</div>
		<hr />
		#{/list}
		</div>
		<div class="span5">
			<div class="group">
				<h2>Article Abstract</h2>
				<br />
				<div class="well"><p>${review.revision.article.summary}</p></div>
				
				#{if review.discussion}
					<h2>Secret comment</h2>
					<div class="well"><p>${review.discussion.comment}</p></div>
				#{/if}
			</div>
		</div>	
		#{if review.revision.article.user.id == user.id}
			<div class="span12">
				<div class="well">
					<a href="@{RevisionController.add(review.revision.article.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Add new revision</a>
				</div>
			</div>
		#{/if}	
	</div>
</div>
