#{extends 'main.html' /}
#{set title:'Article index' /}

<div class="container">
	<div class="row">
		<h2>Unpublished articles</h2>
		#{if user.author || user.reviewer}	
			<p>Please select 3 articles to review and then go to your <a href="@{ReviewController.index()}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Review control panel</a> to start reviewing articles.</p>
		#{/if}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Article Title</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				#{list items:unpublished, as:'unpublishedR' }
					<tr>
						<td><a href="@{ArticleController.show(unpublishedR.id)}">${unpublishedR.title}</a></td>
						<td class="actions" style="width: 150px">
							<a href="#" class="btn"><i class="icon-pencil"></i> Add to selection list</a>
						</td>
					</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>