#{extends 'main.html' /}
#{set title:'Users Control Panel' /}

#{if user}	
	#{if user.editor}	
	<div class='container'>
		<div class="row">
		<div class="span12">
			<h2>Latest Reviews </h2>
			

				#{ifErrors}
					<div class="alert alert-warning">
						<strong>There are some errors:</strong> <br />
						#{errors}
						   <i class="icon-flag"></i> ${error} <br />
						#{/errors}
					</div>
				#{/ifErrors}
				#{if flash.success}
					<div class="alert alert-success">
						<strong><i class="icon-ok"></i> ${flash.success}</strong>
					</div>
				#{/if}
				
				#{if reviews}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Article</th>
								<th>Review date</th>
								<th>Reviewer</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							#{list items:reviews, as:'review'}
							<tr>
								<td><a href="@{ArticleController.show(review.revision.article.id)}">${review.revision.article.title}</a></td>
								<td>${review.date}</td>
								<td>${review.user.email}</td>
								<td style="width:260px"><a href="@{ReviewController.show(review.id)}" class="btn"><i class="icon-eye-open"></i> View review</a> &nbsp; <a href="@{ReviewController.editorRejectReview(review.id)}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Reject review</a></td>		
							#{/list}
						</tbody>
					</table>
				#{/if}
				#{else}
					<div class="alert alert-info">
						<strong><i class="icon-info-sign"></i> There are no reviews.</strong>
					</div>
				#{/else}
			</td>
		</div>
	</div>
	#{/if}	
#{/if}