#{extends 'main.html' /}
#{set title:'Users Control Panel' /}

#{if user}	
	#{if user.editor}	
	<div class='container'>
		<div class="row">
		<div class="span12">
			<h2>Registered Users </h2>
			
			#{form @ControlPanelController.promoteToEditor()}
				#{ifErrors}
					<div class="alert alert-warning">
						<strong>There are some errors:</strong> <br />
						#{errors}
						   <i class="icon-flag"></i> ${error} <br />
						#{/errors}
					</div>
				#{/ifErrors}
				#{if flash.success}
					<div class="alert alert-success">
						<strong><i class="icon-ok"></i> ${flash.success}</strong>
					</div>
				#{/if}
				#{if users}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Names</th>
								<th>Email address</th>
								<th>Affiliations</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							#{list items:users, as:'tempUser'}
							<tr>
								<td>${tempUser.name}</td>
								<td>${tempUser.email}</td>
								<td>
									#{if tempUser.affiliationList}
										#{list items:tempUser.affiliationList, as:'aff'}
											<li> ${aff.affiliation_name} </li>
										#{/list}
									#{/if}
								</td>
								<td><label class="radio"><input type="radio" name="user_id" value="${user.id}" /> &nbsp;Promote</label>		
							#{/list}
						</tbody>
					</table>
				#{/if}
				#{else}
					<div class="alert alert-info">
						<strong><i class="icon-info-sign"></i> There are no users that can be promoted.</strong>
					</div>
				#{/else}
				<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Promote users</button>
			#{/form}
			</td>
		</div>
	</div>
	#{/if}	
#{/if}