
#{extends 'main.html' /}
#{set title:'New Article' /}

#{ifErrors}
	<div class='errors'>
		#{errors}
			<li>${error}</li>
		#{/errors}
	</div>
   	<br><br>
#{/ifErrors}
#{if flash.success}
	<div class="success">${flash.success}</div>
<br><br>
#{/if}
#{form @ArticleController.newArticle(), enctype:'multipart/form-data'}
	#{if !user}
		Welcome to the new articles page.  Please fill in the form provided to submit you're article. <br>
		Once submitted you will be issued with a password which can be used in conjunction with you're email address to follow you're articles progress.<br>
	#{/if}
	#{if user}
		Welcome ${user.email}, please fill in the form provided to submit you're article. <br> 		
	#{/if}
	Once submitted you're article will undergo a reviewing process where you will given feedback and a score from a number of reviewers.<br>
	Then it will either then be published or you will be given an opportunity to revise it and re-submit new revisions.<br>
	In the meantime please contribute to the sight by reviewing articles by other authors.  <br>
	For every 3 reviews you give you will be granted an additional revision (up to 3 revisions).
	
	<br><br>Templates for articles can be found <a href="@{BrowseController.templates()}">here</a>
		
	<u>Detail and upload youre article</u><br/><br/>
    Title: <input type="text" name="title"><br/> 
    Abstract: <textarea rows="8" cols="40" name=discription></textarea> <br/> 
    #{if !user}
    	Email address: <input type="text" name="email"><br/> 
    #{/if}
    Additional Authors email addresses (optional, please divide them with commas): <input type="text" name="authors"><br/> 
    Keywords (optional, please divide them with commas and a maximum of 10): <input type="text" name="keywords"><br/> 
    Upload Article: <input type="file" name="article"><br/>
    
    #{if !user}
    	<br/><br/>
		Already have an account?  Please provide you're password here (Email address must correspond with the registered email address):<br/><br/>
		<p>Password:<input type="password" name="password"></p>
	#{/if}
    
    <input type="submit" value="Submit" />
#{/form}
