#{extends 'main.html' /}
#{set title:'Article' /}
<!--
<div id="vol-nav" class="navbar pull-up">
	<div class="navbar-inner">
		<div class="container">
			<h2>Recent volumes:</h2>
			<ul class="nav">
				#{if volumes}				
					#{list items:volumes, as:'volume'}
						<li><a href="#">${volume.name}</a></li>						
					#{/list}
				#{/if}
				<li><a href="#">Archive</a></li>
			</ul>
			<form class="navbar-search">
				<input type="text" class="search-query" placeholder="Search">
			</form>
		</div>    
	</div>
</div>
<div id="edition-nav" class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				#{list items:editions, as:'edition'}
					<li><a href="#">${edition.name}</a></li>						
				#{/list}
			</ul>
		</div>
	</div>
</div>
-->
<div class="container">
	<div class="row">
		<div class="span8">
			<h1>${article.title}</h1>
			<p>${article.summary}</p>
			
			<ul class="tags">
				<li>${article.tags.size() ?: 'No'} Tags</li>
			    #{list items:article.tags, as:'tag'}
					<li><a href="#">${tag.title}</a></li>						
				#{/list}
				<li><a href="#">this</a></li>
				<li><a href="#">is</a></li>
				<li><a href="#">an</a></li>
				<li><a href="#">example</a></li>
				<li><a href="#">of</a></li>
				<li><a href="#">tags</a></li>
			</ul>
		</div>
		<div class="span4" id="article_sidebar">
			<div class="group">
				<h2>Download</h2>
				<a href="#" class="btn btn-primary"><i class="icon-download icon-white"></i> &nbsp;Download article (PDF)</a>
			</div>
			<div class="group">
				<h2>Contact author</h2>
				<a href="#" class="btn"><i class="icon-envelope"></i> &nbsp;something@something.com</a>
			</div>
			<div class="group">
				<h2>Discuss with editor</h2>
			</div>
		</div>
	</div>
</div>