#{extends 'main.html' /}
#{set title:'Article' /}
<div class="container">
	<div class="row">
		<div class="span8">
			<h1>${article.title}</h1>
			<p>${article.summary}</p>
			
			<ul class="tags">
				<li>${article.tags.size() ?: 'No'} Tags</li>
			    #{list items:article.tags, as:'tag'}
					<li><a href="#">${tag.title}</a></li>						
				#{/list}
			</ul>
		</div>
		<div class="span4" id="article_sidebar">
			<div class="group">
				<h2>Download</h2>
				<a href="@{ArticleController.download(article.id, -1)}" class="btn btn-primary"><i class="icon-download icon-white"></i> &nbsp;Download article (PDF)</a>
			</div>
			<div class="group">
				<h2>Contact author</h2>
				<a href="mailto:${article.user.email}" class="btn"><i class="icon-envelope"></i> &nbsp;${article.user.email}</a>
			</div>
			<div class="group">
				<h2>Discuss with our editors</h2>
				<a href="#" class="btn" id="editor-email"><i class="icon-envelope"></i> Send message</a>
				<div class="group editor-email">		
					<form action="@{ReaderCommentController.readerComments()}" method="POST">
						<label>Email:</label>
						<input type="text" class="span4" name="emailAddress">
						<label>Message:</label>
						<textarea rows="8" cols="40" name="message"  class="span4">${flash.discription}</textarea> 
						<div id="feedback"></div>
						<button type="submit" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Send your comment</button>
					</form>
				</div>				
			</div>
		</div>
	</div>
</div>