#{extends 'main.html' /}
#{set title:'Newsletter' /}

<div class="container">
	<div class="row">
		<div class="span7">
			<h2>Newsletters available:</h2>
			
			#{ifErrors}
				<div class="alert alert-warning">
					<strong>There are some errors:</strong> <br />
					#{errors}
					   <i class="icon-flag"></i> ${error} <br />
					#{/errors}
				</div>
			#{/ifErrors}
			#{if flash.success}
				<div class="alert alert-success">
					<strong><i class="icon-ok"></i> ${flash.success}</strong>
				</div>
			#{/if}
			
			#{if filesTable}
			<form action="@{NewsletterCOntroller.sendEmail()}" method="POST"> 
			
		
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Newsletter</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					#{list items:filesTable, as:'file'}
						<tr>
							<td><a href='${file[1]}' target="_blank"> ${file[0]} </a>
							<td><label class='radio'><input type='radio' name=newsletter value="${file[1]}" onchange='newSelection(this);' /> Select newsletter</label></td>
						</tr>
					#{/list}
				</tbody>
			</table>			
			
			
			
			
			<script type="text/javascript">
			var selectedFile;
			
			function newSelection(evt){
				console.log("Changed selection")
				selectedFile = evt.value
				document.forms["delete"]["newsletter"].value = selectedFile
				
			}
			</script>
			
				<button type="submit" onclick="emailAll()" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Email all users</button>
			</form>
			<form action="@{NewsletterController.delete()}" method="POST" name="delete" enctype="multipart/form-data"> 
				<input type="hidden" name="newsletter"/>
				<button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete newsletter</button>
			</form>
			#{/if}
			#{else}
				<div class='alert alert-info'><strong><i class='icon-info-sign'></i> No newsletter found</strong></div>
			#{/else}
		</div>
		<div class="span5">			
			<h2>Upload a new newsletter</h2>
			<form action="@{NewsletterController.upload()}" method="POST" enctype='multipart/form-data'>
				<input type="file" name="newsletter" /><br/>
				<button type="submit" class="btn btn-primary"><i class="icon-upload icon-white"></i> Submit</button>
			</form>
		</div>