#{extends 'main.html' /}
#{set title:'Home' /}

 #{if articles}
        <div>    
            <h3>Articles</h3>
        
            #{list items:articles, as:'article'}
                <div class="post">
                    <h2 class="post-title">
                        <a href="#">${article.title}</a>
                    </h2>
                    <div class="post-metadata">
                        <span class="post-pdf">
                        </span>
                        <div class="post-comments">
                           
                        </div>
                    </div>
                </div>
            #{/list}
        </div>
        
    #{/if}